# Backend
inventory-backend/bin/
inventory-backend/vendor/

# Frontend
inventory-frontend/node_modules/
inventory-frontend/dist/

# Temporales
tmp/
*.log
.DS_Store

# Shopease (nuevo frontend)
shopease/node_modules/
shopease/dist/

# Archivos temporales o cache
*.env
*.log

